
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
<style>
button.send {
	height: 70px;
	width: 70px;
	color: blue;
}
</style>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://unpkg.com/tone"></script>

<script>
function play(freq){
	var pwm = new Tone.Oscillator(freq, "sine").toMaster().start();
    var loop_handle = setInterval(function(){pwm.stop()}, 300);

}



$(function() {	
    var output = document.getElementById("output");
    var input = document.getElementById("input");
    var ws;
    var print = function(message) {
        var d = document.createElement("div");
        d.innerHTML = message;
        output.appendChild(d);
    };
    document.getElementById("open").onclick = function(evt) {
        if (ws) {
            return false;
        }
        ws = new WebSocket("{{.}}");
        ws.onopen = function(evt) {
            //print("OPEN");
			ws.send('input.value');
			$("#snd_stat").css('color', "blue");
        }
        ws.onclose = function(evt) {
			$("#snd_stat").css('color', "red");
            //print("CLOSE");
            ws = null;
        }
        ws.onmessage = function(evt) {
            //print("RESPONSE: " + evt.data);
			$("#snd_stat").css('color', "green");
			key = "button.send[msg='" + evt.data + "']";
			element = $(key)
			console.log(key)
			freq = element.attr("freq");
			if (freq) {
				play(freq);
			} else {
				error.log("========" + evt.data)
			}
        }
        ws.onerror = function(evt) {
			$("#snd_stat").css('color', "red");
            //print("ERROR: " + evt.data);
        }
        return false;
    };
//    document.getElementsByClassName("send").onclick = function(evt) {
//        
//        print("SEND: " + input.value);
//        ws.send(input.value);
//        return false;
//    };

    document.getElementById("close").onclick = function(evt) {
        if (!ws) {
            return false;
        }
        ws.close();
        return false;
    };
	
	$(".send" ).click(function() {
		$("#inputtext").val($(this).attr("msg"));
		ws.send($(this).attr("msg"));
		$("#snd_stat").css('color', "red");
	});
	$( document ).ready(function() {
		$("#open").click();
	});
	
});
</script>
</head>
<body>
<table>
	<tr><td valign="top" width="50%">
	<p>
	<p>
	<button id="open">Open</button>
	<button id="close">Close</button>
	<p><input id="inputtext" type="text" value="" >
	<table>
		<tr>
			<td></td>
			<td><button class="send" msg="FORWARD" freq="500">Up</button></td>
			<td></td>
		</tr>
		<tr>
			<td><button class="send" msg="LEFT" freq="400">Left</button></td>
			<td><button class="send" msg="STOP" freq="150">stop</button></td>
			<td><button class="send" msg="RIGHT" freq="200">Right</button></td>
		</tr>
		<tr>
			<td></td>
			<td><button class="send" msg="BACKWARD" freq="300">Back</button></td>
			<td></td>
		</tr>
	</table>
	<span></span>
	</td><td valign="top" width="50%">
	<div id="snd_stat">&#9632;</div>
	</td></tr>
</table>
</body>
</html>